.adjust{
    width:100%;
    max-height: 500px;
}
.adjustfile{
    display:flex;
    flex-wrap: wrap;
}
.filecompo{
    background-color:black;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
.spinni{
    margin-left: auto;
    margin-right: auto;
}
.manageform{
    margin-left: 5%;
    margin-right: 5%;
}
.buttonchange{
    margin-top: 5%;
}
.head{
    margin-top: 5%;
}
.addedinput{
    margin-top: 4%;
    margin-left: 8%;
    margin-right: 8%;
    widows: 100px;
}
.questbut{
    margin-top: 3%;
    margin-left: 4%;
    margin-right: 4%;
    widows: 100px;
}
.bread{
    margin-top: 3%;
}