.adjust{
    width:100%;
    max-height: 500px;
}
.adjustfile{
    max-height: 250px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-y: scroll;
}
.filecompo{
    background-color:black;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
.spinni{
    margin-left: auto;
    margin-right: auto;
}
.manageform{
    margin-left: 5%;
    margin-right: 5%;
}
.buttonchange{
    margin-top: 5%;
}
.head{
    margin-top: 2%;
}
.addedinput{
    margin-top: 4%;
    margin-left: 8%;
    margin-right: 8%;
    widows: 100px;
}
.questbut{
    margin-top: 3%;
    margin-left: 4%;
    margin-right: 4%;
    widows: 100px;
}
.bread{
    margin-top: 3%;
}
.tabular{
    color: black;
}
.fileadjuster{
    height: 30px;
    width: 25px;
}
.tablet{
    min-width: 350px;
    overflow-y: scroll;
}
.questionfindform{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: black;
    border-color: brown;
}
.adjustinput{
    background-color: black;
    border-color: brown;
}
@media only screen and (min-width: 700px) {
    .headerchange{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .heading{
        text-align: center;
        font-size: 40px;
        color: blue;
        font-weight: bolder;
    }
    .tablet{
        margin-left: 5%;
        margin-right: 5%;
        border-left: 1px solid #e8e9ea;
        border-top: 1px solid #e8e9ea;
        border-bottom: 1px solid #e8e9ea;
        min-width: 350px;
        min-height: 300px;
        max-height: 350px;
        overflow-y: scroll;
    }
    .inputparent{
        margin-left: 15%;
        display: flex;
        margin-bottom: 20px;
        height:50px;
        width: 70%;
        background-color: #e8e9ea;
        border: 1px solid #e8e9ea;
        border-radius: 28px;
    }
    .inputer{
        margin-left: 2%;
        width: 98%;
        background-color: transparent;
    }
    .inputdropdown{
        margin-top: 4px;
        margin-left: -10%;
    }
    .recently{
        width:240px;
        display: block;
        margin: auto;
        height:50px;
        margin-bottom: 30px;
        background-color: transparent;
        border: 4px solid lightgreen;
        outline: none;
        border-radius: 25px;
        color: lightgreen;
    }
    button.recently:hover{
        background-color: lightgreen;
        color: white;
    }
    button.recently:focus{
        outline: 0;
    }
    .innerrecent{
        margin-left: 40px;
        margin-right: 40px;
    }
    .outerrecent{
        margin-top: 20px;
        background-color: #e8e9ea;
    }
    .recentheaders{
        text-align: center;
    }
    #tabular::-webkit-scrollbar {
        width: 6px;
        height: 0px;          
    }
     
    #tabular::-webkit-scrollbar-thumb {   
       border-radius: 30px;
       background: -webkit-gradient(linear,left top,left bottom,from(#e8e9ea),to(#e8e9ea));
       box-shadow: inset 2px 2px 2px rgba(255,255,255,.25), inset -2px -2px 2px rgba(0,0,0,.25);}
      
    #tabular::-webkit-scrollbar-track {
       border-radius: 30px;     
       background-color: #fff;
       background: linear-gradient(to right,#201c29,#201c29 1px,#100e17 1px,#100e17);
    }
}
#fileadjusting::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    border: 1px solid #d5d5d5;
  }
  
  #fileadjusting::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eeeeee;
  }
  
#fileadjusting::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #b0b0b0;
  }
@media only screen and (max-width: 699px) {
    .headerchange{
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .heading{
        text-align: center;
        font-size: 30px;
        color: darkslateblue;
        font-weight: 500;
    }
    .tablet{
        min-width: 350px;
        overflow-y: scroll;
        max-height: 350px;
    }
    .inputparent{
        margin-left: 5%;
        display: flex;
        margin-bottom: 40px;
        width: 90%;
        height:50px;
        background-color: #e8e9ea;
        border: 1px solid #e8e9ea;
        border-radius: 28px;
    }
    .inputer{
        margin-left: 4%;
        width:96%;
        background-color: transparent;
    }
    .inputdropdown{
        margin-top: 5px;
        margin-left: -10%;
    }
    .recently{
        width:200px;
        display: block;
        margin: auto;
        height:50px;
        margin-bottom: 30px;
        background-color: transparent;
        border: 4px solid lightgreen;
        outline: none;
        border-radius: 25px;
        color: lightgreen;
    }
    button.recently:hover{
        background-color: lightgreen;
        color: white;
    }
    button.recently:focus{
        outline: 0;
    }
    .innerrecent{
        margin-left: 20px;
        margin-right: 20px;
    }
    .outerrecent{
        margin-top: 10px;
        background-color: #e8e9ea;
    }
    .recentheaders{
        font-size: 25px;
        text-align: center;
    }
}