* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: "Roboto";
	outline: none;
	border: none;
}

.align {
	height: 100%;
	width: 100%;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 0px;
	padding-top: 0px;
}

.newcard {
	height: 100%;
	width: 100%;
	background: #121212;
	border: 1px solid #121212;
	border-radius: 10px;
	overflow: hidden;
	transition: max-height 0.2s;
}

.extend {
	max-height: 480px;
}

.header {
	width: 100%;
	display: flex;
	height: 72px;
	border-bottom: 1px solid #121212;
	justify-content: space-between;
}

.header a {
	height: 100%;
	padding: 0 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: rgb(140,140,140);
	font-size: 20px;
	font-weight: 500;
}

.header .selected {
	position: relative;
	color: #00FF5C;
	font-weight: 700;
}

.header .selected:after {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	height: 5px;
	width: 100%;
	background: #00FF5C;
	border-radius: 99px 99px 0 0;
}

.tabs {
	height: calc(100% - 72px);
	display: flex;
}

.form {
	width: 100%;
	height: 100%;
	max-height: 450px;
	flex-shrink: 0;
	padding: 30px 38px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	right: 0;
	transition: right 0.2s;
}

.extend form {
	right: 100%;
}

.inputs {
	width: 100%;
	padding-top: 0px;
}

.input {
	position: relative;
	margin-bottom: 18px;
	width: 100%;
	display: flex;
	align-items: center;
}

.input input {
	width: 100%;
	font-size: 17px;
	background: #1C1C1C;
	border-radius: 8px;
	padding: 16px 18px 16px 51px;
	color: rgb(220,220,220);
}


.newcard .button {
	display: block;
	background: #00FF5C;
	padding: 14px 52px;
	border-radius: 10px;
	color: #003B15;
	font-weight: 700;
	font-size: 21px;
	cursor: pointer;
}

.modalbackground{
	background: #121212;
	border: 0px solid #121212;
	border-radius: 2px;
}
.bodyblowmodal{
	background: #121212;
	border: 1px solid #121212;
	border-radius: 10px;
	opacity: 1;
}
.alertmovement{
	margin-top: -20px;
}